@model AngsuranMVC.Models.AngsuranModel

@{
    ViewData["Title"] = "Hitung Angsuran";
}

<h2 class="text-center"> <strong>HITUNG ANGSURAN</strong></h2>

<hr>

<form asp-action="Hitung" method="post" class="mt-3">
    <div class="form-group">
        <label for="KontrakNo">Nomor Kontrak</label>
        <input type="text" name="KontrakNo" class="form-control" required />
    </div>

     <div class="form-group">
        <label for="Client_Name">Nama Klien</label>
        <input type="text" name="Client_Name" class="form-control" required />
    </div>

    @* <div class="form-group">
        <label for="OTR">Harga OTR</label>
        <input type="number" name="OTR" class="form-control" required />
    </div> *@

    <div class="form-group">
        <label for="OTR">Harga OTR</label>
        <input type="number" name="OTR" id="OTR" class="form-control" required oninput="hitungDP()" />
    </div>

    <div class="form-group">
        <label for="DP">Down Payment (DP) 20%</label>
        <input type="number" name="DP" id="DP" class="form-control" readonly />
    </div>

    @* <div class="form-group">
        <label for="DP">Down Payment (DP) 20%</label>
        <input type="number" name="DP" class="form-control" required />
    </div> *@

    <div class="form-group">
        <label for="JangkaWaktu">Jangka Waktu</label>
        <select name="JangkaWaktu" id="JangkaWaktu" class="form-control" required>
            <option value="" disabled selected>Pilih</option>
            <option value="12">12 Bulan (1 Tahun)</option>
            <option value="24">24 Bulan (2 Tahun)</option>
            <option value="36">36 Bulan (3 Tahun)</option>
            <option value="48">48 Bulan (4 Tahun)</option>
            <option value="60">60 Bulan (5 Tahun)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="StartDate">Tanggal Jatuh Tempo</label>
        <input type="date" name="StartDate" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Hitung</button>
</form>

<script>
    function hitungDP() {
        var otr = document.getElementById("OTR").value;
        var dp = 0.2 * parseFloat(otr);
        if (!isNaN(dp)) {
            document.getElementById("DP").value = dp;
        } else {
            document.getElementById("DP").value = "";
        }
    }
</script>