@{
    ViewData["Title"] = "Beranda";
}

<div class="container text-center mt-5">
    <h1 class="display-4"> <strong>SELAMAT DATANG</strong> </h1>
    <p class="lead">Web Angsuran <strong>IMS Finance</strong></p>
    
    <div class="mt-4">
        <p>Temukan Solusi Angsuran Terbaik Dengan Layanan Terpercaya</p>
        <a href="/angsuran" class="btn btn-primary">Cek Skema Angsuran</a>
    </div>
</div>

